nav ul{
    margin-right: 100px;
}
nav li{
    margin-right: 10px;
}
nav img{
    width: 15%;
    margin-left: 75px;
}
.navbar .nav-link{
    color: red;
}
.navbar-nav .nav-link.active{
    
    font-size: 1.1rem;
}
.dropdown-menu{
    font-size: 1rem;
}