.article{
    width: 50%;
    margin-top: 3.5%;
    margin-left: 3%;
    display: flex;
    text-align: center;
}
article{
    width: 100%;
    display: block;
}
article h1{
    font-weight: bold;
    font-size: 4rem;
}
article p{
    font-size: 1.1rem;
    margin-top: 5%;
}
video{
    position: fixed;
    bottom: 1;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.contenido{
    position: relative;
    z-index: 1;
    color: #fff;
}